
body {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  /* background: url('<%= asset_path("mountain.jpg")%>);  also make file welcome.css.scss.erb*/
  background-image: url("mountain.jpg");
  background-size: cover;
  font-family: Courier;
}

a:visited {
  color: black;
}

.welcome-page-content {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

header {
  width: 100%;
  text-align: center;
  font-size: 45px;

  .login-button {
    width: 10%;
    float: right;
    background-color: white;
    border-radius: 25px;
    font-size: 25px;
    padding: 3px;

    a {
      text-decoration: none;
    }
  }

  h1 {
    margin: 0px;
    margin-top: 45px;
    margin-left: 135px;

    a {
      text-decoration: none;
    }
  }

  h3 {
    font-size: 30px;
    margin: 0px;
    margin-top: 15px;
    margin-bottom: 55px;
  }
}

.tables {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

h5 {
  text-align: center;
  font-size: 20px;
  margin: 0px;
  margin-bottom: 8px;
  padding: 5px;
  border-bottom: solid;
}

.top-ten-table {
  margin-top: -15px;
  background-color: white;
  width: 30%;
  float: left;
  height: 325px;
  font-size: 18px;
  padding: 10px;
  margin-right: 10px;
  border-radius: 25px;
}

.top-ten-pay {
  margin-top: -15px;
  background-color: white;
  width: 30%;
  float: left;
  height: 325px;
  font-size: 18px;
  padding: 10px;
  margin-right: 10px;
  border-radius: 25px;
}

.top-ten-remote {
  margin-top: -15px;
  background-color: white;
  width: 30%;
  float: left;
  height: 325px;
  font-size: 18px;
  padding: 10px;
  border-radius: 25px;
}

/* show page */

.city-jobs {
  text-align: center;
  background-color: white;
  height: 350px;
  width: 55%;
  margin-right: auto;
  margin-left: auto;  
  border-radius: 25px;
  margin-top: -15px;

  table {
    font-size: 18px;
    padding: 15px;
  }
}
